{{#structs}}
  {{name}}:
    type: object
    {{#has_required}}
    required:
    {{#required}}
      - {{item}}
    {{/required}}
    {{/has_required}}
    properties:
    {{#properties}}
      {{name}}:
        description: |
{{description}}
        {{#type}}
        type: {{type}}
        {{/type}}
        {{#format}}
        format: {{format}}
        {{/format}}
        {{#$ref}}
        $ref: "{{$ref}}"
        {{/$ref}}
        {{#items}}
        items:
          {{#items.type}}
          type: {{items.type}}
          {{/items.type}}
          {{#items.$ref}}
          $ref: "{{items.$ref}}"
          {{/items.$ref}}
        {{/items}}
        {{#additionalProperties}}
        additionalProperties:
          {{#additionalProperties.type}}
          type: {{additionalProperties.type}}
          {{/additionalProperties.type}}
          {{#additionalProperties.$ref}}
          $ref: "{{additionalProperties.$ref}}"
          {{/additionalProperties.$ref}}
        {{/additionalProperties}}
    {{/properties}}

{{/structs}}
