      {{api_key}}: !ruby/object:Api::{{api_type}}
        name: "{{name}}"
        path: "{{path}}"
        {{#verb}}
        verb: "{{verb}}"
        {{/verb}}
        {{#resource_id_path}}
        resource_id_path: {{resource_id_path}}
        {{/resource_id_path}}
        service_type: '{{service_type}}'
        {{#action}}
          {{#when}}
        when: "{{when}}"
          {{/when}}
          {{#has_path_parameter}}
        path_parameter:
            {{#path_parameter}}
          {{key}}: '{{value}}'
            {{/path_parameter}}
          {{/has_path_parameter}}
        {{/action}}
        {{#other}}
          {{#crud}}
        crud: "{{crud}}"
          {{/crud}}
        {{/other}}
        {{#async}}
        async: !ruby/object:Api::Async
          {{#query_status}}
          operation: !ruby/object:Api::Async::Operation
            path: '{{path}}'
            {{#has_path_parameter}}
            path_parameter:
            {{#path_parameter}}
              {{key}}: '{{value}}'
            {{/path_parameter}}
            {{/has_path_parameter}}
            {{#query_interval_ms}}
            wait_ms: {{query_interval_ms}}
            {{/query_interval_ms}}
          {{/query_status}}
          {{#check_status}}
          status_check: !ruby/object:Api::Async::Status
            field: '{{field}}'
            {{#has_complete}}
            complete:
            {{#complete}}
              - '{{value}}'
            {{/complete}}
            {{/has_complete}}
            {{#has_pending}}
            pending:
            {{#pending}}
              - '{{value}}'
            {{/pending}}
            {{/has_pending}}
          {{/check_status}}
          {{#result}}
            result: !ruby/object:Api::Async::Result
              field: '{{result}}'
          {{/result}}
        {{/async}}
