      {{api_key}}: !ruby/object:Api::{{api_type}}
        name: "{{name}}"
        path: "{{path}}"
        {{#verb}}
        verb: "{{verb}}"
        {{/verb}}
        {{#resource_id_path}}
        resource_id_path: '{{resource_id_path}}'
        {{/resource_id_path}}
        service_type: '{{service_type}}'
        service_level: '{{service_level}}'
        {{#has_header_params}}
        header_params:
        {{#header_params}}
          {{key}}: '{{value}}'
        {{/header_params}}
        {{/has_header_params}}
        has_response: {{has_response}}
        {{#msg_prefix}}
        msg_prefix: '{{msg_prefix}}'
        {{/msg_prefix}}
        {{#has_msg_prefix_array_items}}
        msg_prefix_array_items:
        {{#msg_prefix_array_items}}
          - '{{msg_prefix_array_item}}'
        {{/msg_prefix_array_items}}
        {{/has_msg_prefix_array_items}}
        {{#action}}
          {{#when}}
        when: "{{when}}"
          {{/when}}
        {{/action}}
        {{#has_path_parameter}}
        path_parameter:
          {{#path_parameter}}
          {{key}}: '{{value}}'
          {{/path_parameter}}
        {{/has_path_parameter}}
        {{#other}}
          {{#crud}}
        crud: "{{crud}}"
          {{/crud}}
          {{#depends_on}}
        depends_on: "{{depends_on}}"
          {{/depends_on}}
        {{/other}}
        {{#has_query_params}}
        query_params:
        {{#query_params}}
          {{name}}: '{{ref}}'
        {{/query_params}}
        {{/has_query_params}}
        {{#has_identity}}
        identity:
        {{#identity}}
          {{name}}: '{{ref}}'
        {{/identity}}
        {{/has_identity}}
        {{#has_success_codes}}
        success_codes:
        {{#success_codes}}
          - {{code}}
        {{/success_codes}}
        {{/has_success_codes}}
        {{#async}}
        async: !ruby/object:Api::Async
          {{#query_status}}
          operation: !ruby/object:Api::Async::Operation
            name: '{{query_status.name}}'
            service_type: '{{query_status.service_type}}'
            service_level: '{{query_status.service_level}}'
            path: '{{path}}'
            {{#query_status.has_header_params}}
            header_params:
            {{#header_params}}
              {{key}}: '{{value}}'
            {{/header_params}}
            {{/query_status.has_header_params}}
            {{#query_status.has_path_parameter}}
            path_parameter:
            {{#query_status.path_parameter}}
              {{key}}: '{{value}}'
            {{/query_status.path_parameter}}
            {{/query_status.has_path_parameter}}
            {{#query_interval_ms}}
            wait_ms: {{query_interval_ms}}
            {{/query_interval_ms}}
            {{#query_status.has_success_codes}}
            success_codes:
            {{#success_codes}}
              - {{code}}
            {{/success_codes}}
            {{/query_status.has_success_codes}}
          {{/query_status}}
          {{#check_status}}
          status_check: !ruby/object:Api::Async::Status
            field: '{{field}}'
            {{#has_complete}}
            complete:
            {{#complete}}
              - '{{value}}'
            {{/complete}}
            {{/has_complete}}
            {{#has_pending}}
            pending:
            {{#pending}}
              - '{{value}}'
            {{/pending}}
            {{/has_pending}}
          {{/check_status}}
          {{#result}}
          result: !ruby/object:Api::Async::Result
            field: '{{field}}'
            {{#sub_jobs_path}}
            sub_jobs_path: '{{sub_jobs_path}}'
            {{/sub_jobs_path}}
            {{#has_sub_job_identity}}
            sub_job_identity:
            {{#sub_job_identity}}
              {{key}}: {{value}}
            {{/sub_job_identity}}
            {{/has_sub_job_identity}}
          {{/result}}
          {{#timeout}}
          timeout: {{timeout}}
          {{/timeout}}
        {{/async}}
