# Copyright 2018 Huawei Inc.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

--- !ruby/object:Provider::Terraform::Config
overrides: !ruby/object:Provider::ResourceOverrides
{{#resources}}
  {{name}}: !ruby/object:Provider::Terraform::ResourceOverride
  {{#has_example}}
    examples:
  {{#examples}}
      - !ruby/object:Provider::Terraform::Example
        name: {{name}}
        primary_resource_id: {{resource_id}}
        {{#is_basic}}
        is_basic: true
        {{/is_basic}}
  {{/examples}}
  {{/has_example}}
  {{#has_property_override}}

    properties:
  {{#properties}}
      {{prop_path}}: !ruby/object:Provider::Terraform::PropertyOverride
        {{#from_response}}
        from_response: |
{{{from_response}}}
        {{/from_response}}
  {{/properties}}
  {{/has_property_override}}
  {{#has_parameter_override}}

    api_parameters:
  {{#parameters}}
      {{prop_path}}: !ruby/object:Provider::Terraform::PropertyOverride
        {{#to_request}}
        to_request: |
{{{to_request}}}
        {{/to_request}}
        {{#to_request_method}}
        to_request_method: '{{to_request_method}}'
        {{/to_request_method}}
  {{/parameters}}
  {{/has_parameter_override}}
  {{#has_async_override}}

    api_asyncs:
  {{#api_asyncs}}
      {{api}}: !ruby/object:Provider::AsyncOverride
        {{#custom_status_check_func}}
        custom_status_check_func: "{{{custom_status_check_func}}}"
        {{/custom_status_check_func}}
  {{/api_asyncs}}
  {{/has_async_override}}
{{/resources}}
# This is where custom code would be defined eventually.
examples: !ruby/object:Api::Resource::HashArray
files: !ruby/object:Provider::Config::Files
  copy:
  compile:
tests: !ruby/object:Api::Resource::HashArray
# This would be for custom network responses. Tests work by running some block
# of autogenerated Chef/Puppet code and then verifying the network calls.
# The network call verifications are automatically generated, but can be
# overriden.
test_data: !ruby/object:Provider::Config::TestData
